# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Ignorar archivos y carpetas del sistema
.DS_Store

#Ignorar archivos compilados de python:
src/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



